<nav class="navbar navbar-default navbar-static-top">
    <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/main">Clever Task</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">

          <ul class="nav navbar-nav navbar-right text-center">
              <li>
                  <button type="button" class="btn btn-danger navbar-btn"
                  ng-show="deleteProducts.length > 0"
                  ng-click="removeProduct()">Delete products</button>
              </li>
            <li style="margin-left: 10px;">
                <button type="button" class="btn btn-success navbar-btn" data-toggle="modal" data-target="#addBookModal" ng-hide="hideAdd">Add product</button>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, {{user.email}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#/settings">Edit profile</a></li>
                  <li><a href="" ng-click="logout()">Log out</a></li>
                </ul>
            </li>
          </ul>
        </div>

    </div>
</nav>
