.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #fff;
  /*border: 1px solid rgba(0, 0, 0, 0.1);*/
}

input.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty {
    border-color: #f00;
}

input.ng-invalid.ng-dirty:focus, textarea.ng-invalid.ng-dirty:focus {
    border-color: #f00;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

textarea {
    resize: none;
}

.ng-hide {
    display: none;
    transition: display 2s;
}

.ng-show {
    display: block;
    transition: display 2s;
}
